.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation{
  display: flex;
  width: 400px;
  justify-content: space-between;
  border: 1px solid grey;
}

.navigation a{
  text-decoration: none;
  color: grey;
  padding: 10px 20px;
} 

.searchAndTweet{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}